@media (prefers-color-scheme: light) {
    :root {
        --Background: #888;
        --Text: #000000;
    }

    #EmailLink,
    #DocLink,
    #GithubLink {
        filter: invert(100%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --Text: #fff;
        --Background: #000;
    }
}

:root {
    --PY: #eeff00;
    --CS: #004cbd;
}

html {
    overflow: hidden;
    background-color: var(--Background);
}

a,
h1,
h2 {
    font-family: "Noto Sans JP", sans-serif;
    color: var(--Text);
    font-weight: 700;
    text-align: center;
    user-select: none;
}

h1 {
    font-size: calc(1vw + 22px);
}

h2 {
    font-size: calc(1vw + 10px);
}

.Border {
    border: 5px solid var(--Text);
    border-radius: 20px;
    padding: 10px;
}

#PopupText {
    font-size: 3vw;
    text-decoration: underline;

    user-select: none;
    cursor: pointer;

    max-width: 80%;
    text-align: center;
    overflow-x: hidden;

    padding: 10px;

    border: 7px solid var(--Text);
    border-radius: 20px;
}

#Popup {
    opacity: 0;
    transition: 400ms;
    transition-delay: 400ms;
    z-index: 1;

    margin-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

}

#Python:hover {
    cursor: pointer;
    font-style: italic;
}

#Python {
    color: var(--PY);
}

#Cs {
    color: var(--CS);
}

#Links {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: auto;
    z-index: 2;
}

#EmailLink,
#DocLink,
#GithubLink {
    cursor: pointer;
    height: calc(40px + 3vw);
}

#EmailLink {
    border-radius: 25px;
}

#GithubLink {
    border-radius: 100px;
}

#DocLink {
    border-radius: 20px;
}